/* 
	FICHERO CON EL ESTILO PARA TELÉFONO
	
	Autor: Robert Sallent
	Última revisión: 25/07/2024
*/


/* Correcciones de clases genéricas para adaptarlas a pantallas pequeñas */

.pc{display: none !important;}

.w50, .w75, .w100 { width: 100% }

.two-columns			{ column-count: 1 }
.three-columns			{ column-count: 1 }
.four-columns			{ column-count: 2 }


/* Elementos estructurales */
body{
	margin: 0;
	padding: 0;
	width: 100%;
}



/* Header principal (en el body)  -------------------------------  */
body>header{
	padding: 5px;
}

body>header figure{
	min-width: 19%;
    max-width: 19%;
    margin: 0px auto;
    text-align: center;
    padding: 0px;
}

body>header img{
	width: 100%;
}
	
body>header hgroup{
  min-width: 80%;
  max-width: 80%;
  margin: 0px auto;
  padding: 0px;
}

body>header h1{
	padding: 15px 0px;
	font-size: 2rem;
	text-align: center;
	white-space: wrap;
}
body>header h2{font-size: 1.15rem}


/* ------------------------------- MENU  -------------------------------  */
.menu{
	padding: 0px;
	border-radius: 0px;
}

.menu li{
	display: block;
}

.menu li a{
	padding: 10px 20px;
}


.menu li:not(:first-of-type){
	border-left: none
}

.menu li:not(:last-of-type){
	border-bottom: dotted 2px white;
}

/* Formularios -------------------------------------  */
form .long, form .short, form .medium{
	width: 90%;
	margin: 5px 5%;
}

/* ------------------------ MODALES Y MENSAJES -------------------------  */
.success-message, .error-message, .warning-message, #accept-cookies{
	padding: 10px;
	height: 90%;
	width: 90%;
}

.modal{
	margin: 0;
	padding: 4% 1%;
}

.modal figure{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: space-evenly;
}

.modal figure img, .modal figure img.no-description{
	width: 90%;
	height: auto;
}


/* Imágenes y galerías ----- */
figure.card{
	margin: 0;
	padding: 10px;
}


/* ------------------------------- FOOTER  -------------------------------  */
.footer{
	background-size: cover;
}
.footer>div{
	width: 100%;
	text-align: center;
	margin: 5px;
	padding: 5px;
	background-color: rgba(255,255,255,0.8);
}

.footer div.links{
	width: 100%;
	display: flex;
}

.footer div.links a{
	display: block;
	flex: 1;
	text-align: center;
}

div.links img{
	width: 80%;
	height: auto;
}




