@charset "UTF-8";

/* 
	FICHERO BASE PARA LOS ESTILOS DE FASTLIGHT
	
	Autor: Robert Sallent
	Última revisión: 28/11/2024

	Estructura del documento CSS:
	- Regla para todos los elementos
	- Clases para los elementos HTML (columnas, anchos genéricos, textos, elementos ocultos...)
	- Reglas para los elementos básicos HTML
	- Grupos de reglas para:
		- Formularios
		- Botones
		- Tablas
		- Listas
		- Figuras e imágenes
	- Reglas para la estructura de la página (contenedores principales y elementos contenidos)
	- Conjuntos de reglas para herramientas UI:
		- Paginador
		- Vistas de error HTTP
		- Modales
		- Mensajes de error y éxito



	TODO list:
	- Adaptar los templates y vistas a las clases definidas
	- Añadir más clases genéricas para las figuras e imágenes
	- Limpiar un poco el código redundante
	- Revisar a partir de "formularios" hasta el final
	- Más comentarios
	- Añadir algunas animaciones (rotar...)

*/

/* =========================  PARA TODOS LOS ELEMENTOS ======================= */


*{
	box-sizing: border-box;
	margin:  0;
	padding: 0;
}

/* ==================================  CLASES  ============================== */

/* Columnas con FLEX -------------------------------------------------------- */

.flex-container{
	display: flex;
	flex-wrap: wrap;
}

.flex-container>section, 
.flex-container>div, 
.flex-container>form, 
.flex-container>figure{
	min-width: 200px;
}

.flex1{flex:1 }
.flex2{flex:2 }
.flex3{flex:3 }
.flex4{flex:4 }
.flex5{flex:5 }
.flex6{flex:6 }
.flex7{flex:7 }
.flex8{flex:8 }

/* Elementos flotantes ---------------------------------------------------- */

.float-right			{float: right }
.float-left 			{float: left  }
.clear-both 			{clear: both  }

/* Texto y párrafos ------------------------------------------------------- */

.centrado, .centered    { text-align: center  }
.justificado, .justified{ text-align: justify }
.izquierda, .left       { text-align: left    }
.derecha, .right        { text-align: right   }

.mayusculas, .uppercase { text-transform: uppercase }
.minusculas, .lowercase { text-transform: lowercase }

.cursiva, .italic       { font-style: italic  }
.negrita, .bold         { font-weight: bold   }

.micro   				{ font-size: 0.6rem   }
.mini   				{ font-size: 0.8rem   }
.maxi   				{ font-size: 1.2rem   }

.bloque-centrado, .centered-block{
	margin-left: auto;
	margin-right: auto;
}

.two-columns			{ column-count: 2 }
.three-columns			{ column-count: 3 }
.four-columns			{ column-count: 4 }

/* Cursores ---------------------------------------------------------------*/
.pointer{	cursor: pointer; }



/* Rellenos y márgenes estándar (5 niveles) ------------------------------- */

.p1						{ padding: 1%  }
.p2						{ padding: 2%  }
.p3						{ padding: 5%  }
.p4						{ padding: 10% }
.p5						{ padding: 20% }

.m1						{ margin: 1%  }
.m2						{ margin: 2%  }
.m3						{ margin: 5%  }
.m4						{ margin: 10% }
.m5						{ margin: 20% }

.mx1					{ margin-left: 1%; margin-right: 1%   }
.mx2					{ margin-left: 2%; margin-right: 2%   }
.mx3					{ margin-left: 5%; margin-right: 5%   }
.mx4					{ margin-left: 10%; margin-right: 10% }
.mx5					{ margin-left: 20%; margin-right: 20% }

.my1					{ margin-top: 1%; margin-bottom: 1%   }
.my2					{ margin-top: 2%; margin-bottom: 2%   }
.my3					{ margin-top: 5%; margin-bottom: 5%   }
.my4					{ margin-top: 10%; margin-bottom: 10% }
.my5					{ margin-top: 20%; margin-bottom: 20% }

/* Anchos estándar (5 niveles) ------------------------------------------ */
.w5						{ width: 5%   }
.w10					{ width: 10%  }
.w25					{ width: 25%  }
.w50					{ width: 50%  }
.w75					{ width: 75%  }
.w100					{ width: 100% }

/* Elementos ocultos o transparentes ------------------------------------ */

.oculto, .hidden						{ display: none      }
.no-visible, .not-visible				{ visibility: hidden }

.transparente, .transparent 	    	{ opacity: 0    } 
.claro, .clear 					    	{ opacity: 0.25 }
.casi-transparente, .almost-transparent	{ opacity: 0.5  } 
.casi-opaco, .almost-opaque				{ opacity: 0.75 }
.opaco, .opaque							{ opacity: 1    }


/* Sombras -----------------------------------------------------------------*/
.drop-shadow { filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.5)); }
.box-shadow  { box-shadow: 0px 0px 2px rgba(0,0,0,0.5); }


/* ========================  ELEMENTOS BÁSICOS HTML ======================= */

h1, h2, h3{
	margin-top:    1.5rem;
	margin-bottom: 1.1rem;
}

h1{	font-size: 2rem; }
h2{	font-size: 1.75rem; }
h3{	font-size: 1.5rem; }

h1 .small{
	font-size: 1.25rem;
}

h2{
	margin:  1rem 0;
	padding: 1rem 0;
}

p{
	margin: 		1.1rem 0;
	line-height:   	1.5rem;
}

a{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	color: rgb(0, 128, 212);
}

pre{
	font-size: 0.8rem;
	font-family: 'lucida console', arial;
	line-height: 1.10rem;
	margin: 10px;
}

hr{
	margin: 2rem auto;
	width: 75%;
	color: rgb(180, 200, 220);
}



/* Bordes -------------------------------------------------------- */
.border{
	border: solid 1px rgb(120, 140, 200);
}

.dashed-border{
	border: dashed 1px rgb(120, 140, 200);
}

.dotted-border{
	border: dotted 1px rgb(120, 140, 200);
}



/* Botones -------------------------------------------------------- */
.button, .button-light, .button-success, .button-warning, .button-danger{
	display: inline-block;
	white-space: nowrap;
	color: white;
	font: caption;
	font-size: 1.05em;
	padding: 8px 20px;
	margin: 4px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.button.current, .button.active{
	border: solid 2px rgb(60, 100, 160);
}

.button{
	background-color: rgb(60, 100, 160);
}

.button:hover{
	background-color: rgb(100, 140, 200);
}

.buttonLight, .button-light{
	outline: solid 1px rgb(80, 120, 180);
	color: rgb(60, 100, 160);
	background-color: white;
}

.buttonLight:hover, .button-light:hover{
	background-color: rgb(100, 140, 200);
	color: white;
}

.button-success{
	background-color: rgb(100, 230, 100);
}

.button-success:hover{
	background-color: rgb(120, 250, 120);
}

.button-danger, .button-error{
	background-color: rgb(230, 100, 100);
}

.button-danger:hover, .button-error:hover{
	background-color: rgb(250, 120, 120);
}

.button-warning{
	background-color: rgb(220, 220, 60);
}
.button-warning:hover{
	background-color: rgb(230, 230, 80);
}




/* Tablas -------------------------------------------------------- */
.table{
	margin-bottom: 1rem;
}

.table th{
	font-family: helvetica;
	color: white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	background-color: rgb(60, 100, 160);
	padding: 10px;
	font-size: 1.1rem;
	text-align: left;
}

.table td, .table th{
	border-radius: 2px;
}

.table tr:nth-of-type(odd){
	background-color: white;
}

.table tr:nth-of-type(even){
	background-color: #e9e9e9;
}

.table tr, table td{
	padding: 10px;
}

.table tfoot td{
	background-color: #8ac;
	color: white;
	padding: 10px;
}

.big-cell td{
	padding: 20px;
}

.table-image{
	width: 100%;
	max-width: 80px;
	max-height: 120px;
}



/* Listas -------------------------------------------------------- */
ul li, ol li{
	margin: 10px 0px 1rem 25px;	
}

dt{
	font-weight: bold;
	font-style: italic;
	margin-bottom: 0.2rem;
}

dt::after{
	content: ':';
}

dd{
	margin: 0px 0px 0.5rem 20px;
}


/* Figuras e imágenes -------------------------------------------------------- */

figure{
	text-align: center;
	padding: 2%;
}

figure img{
	width: 96%;
}

figcaption{
	font-size: 0.8rem;
	font-style: italic;
}

figure.card{
	background: white;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

figure.x-small		{ max-width: 100px; }
figure.small		{ max-width: 200px; }
figure.medium		{ max-width: 400px; }
figure.large		{ max-width: 600px; }
figure.x-large		{ max-width: 800px; }

/* Carátulas (para las listas de productos o detalles) ---------------*/
.cover{
	width: 100%;
	max-width: 280px;
	max-height: 400px;
	margin: 10px;
}


/* Galería -------------------------------------------------------- */
.galeria, .gallery{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}

.galeria>figure{
	flex: 1;
}


/* Filtros de imagen -------------------------------------------------------- */
.blur  	  			{ filter: blur(10px) }
.bright   			{ filter: brightness(120%) }
.dark   			{ filter: brightness(80%) }
.high-contrast 		{ filter: contrast(120%) }
.low-contrast 		{ filter: contrast(80%) }
.shadow 			{ filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5)) }
.grayscale 			{ filter: grayscale(1) }
.invert 			{ filter: invert(100%) }
.high-saturation 	{ filter: saturate(120%) }
.low-saturation 	{ filter: saturate(80%) }
.sepia 				{ filter: sepia(100%) }
.hue90				{ filter: hue-rotate(90deg) }
.hue180				{ filter: hue-rotate(180deg) }
.hue270				{ filter: hue-rotate(270deg) }

/* Formularios -------------------------------------------------------- */

form{
	padding: 2%;
	margin: 5px auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	background-color: white;
}

form h2{
	padding: 0 0 1rem 0;
}

form fieldset{
	padding: 1%;
	margin: 1%;
	border-radius: 5px;
	border: 1px solid #ccc;
}

form legend{
	font-size: 0.8rem;
	color: #333;
}

label{
  display: inline-block;
  width: 20%;
  min-width: 90px; 
  margin: 1rem 10px;
  font-style: italic;
 
}

input[type="checkbox"], input[type="radio"]{
	min-width: 0;
	margin-left: 10px;
}

input[type="checkbox"]+label, input[type="radio"]+label{
	min-width: 0;
}


input, select, textarea{
	padding: 8px 12px;
	min-width: 100px;
	background-color: #f6f6f6;
	border: solid 1px #ccd;
}


input[type='radio']+label, input[type='checkbox']+label{
	margin-left: 0;
	width: auto;
}

input[type="file"]{
	background-color: transparent;
	border: none;
}

input[type="color"]{
	padding: 2px;
}

textarea{
	vertical-align: text-top;
	resize: none;
	min-width: 300px;
	min-height: 200px;
}


form .short{
	width: 30%;
}

form .medium{
	width: 50%;
}

form .long{
	width: 70%;
}


/* formularios dentro de celdas (botones para realizar operaciones vía POST) */
td form{
	padding: 0;
	margin: 0;
	border-radius: 0;
	box-shadow: 0 0 0 transparent;
	background-color: transparent;
}


/* formulario de login ----------------------------------------------------- */

#login{
	min-width: 340px;
	text-align: center;
}



/* Formulario para realizar búsquedas filtradas (en el Template) ------------ */

#filtro{
	padding: 8px;
	margin: 5px auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 0 transparent;
	background-color: white;
}

#filtro select+input[type='radio']{
	margin-left: 8px;
}

#filtro label{
	min-width: 0px;
	width: auto;
}




/* Paginador -------------------------------------------------------- */
.paginator-links{
	text-align: center;
	color: #33a;
}

.paginator-links .current{
	background-color: white;
	color: #99a;
}

.paginator-stats{
	text-align: right;
}







/* Mapa */
#mapa{
	width: 100%;
	min-height: 360px;
}





/* ========================= ESTRUCTURA DE LA PÁGINA ========================= */

body{
	color: rgb(90, 90, 110);
	padding: 10px 2%;
	font-family: arial, verdana, helvetica;
	width: 100%;	
	margin: 0px auto 20px auto;
}


/* header principal (directamente dentro del body)---------------------------- */
body>header{
	display: flex;
	flex-wrap: nowrap;
	padding: 20px 2%;
	background-image: url(../images/template/header_base.jpg);
	background-size: cover;
	align-items: center;
}

body>header figure{
	min-width: 5%;
	max-width: 140px;
	padding: 1%;
}

body>header img{
	width: 100%;
	vertical-align: middle;
}

body>header hgroup{
	margin: auto 0;
	padding: 0 1%;
	min-width: 40%;
	max-width: 80%;
}

body>header h1{
	color: rgb(60, 100, 160);
	background-color: #fffe;
	padding: 10px;
	font-size: 2.6rem;
	
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


/* Menú -------------------------------------------------------- */
.menu{
	padding: 8px 20px;
	background-color: rgb(60, 100, 160);
	color: white;
	border-radius: 5px;
	font-size: 0;
}

.menu li{
	margin: 0;
	text-align: center;
	display: inline-block;
	list-style-type: none;
	font-size: 1rem;
}

.menu li a{
	display: block;
	padding: 10px 20px;
	margin: 0;
	transition: 0.2s;
	color: white;
}

.menu li a:hover{
	background-color: white;
	color: #006;
}

.menu li:not(:first-of-type){
	border-left: solid 2px white;
}


/* Migas -----------------------------------------------------------*/
.breadcrumbs ul{
	display: inline-block;
}

.breadcrumbs li{
	list-style-type: none;
	display: inline-block;
	margin:  0;
	padding: 10px 5px;
}

.breadcrumbs li a:hover{
	text-decoration: underline;
}

.breadcrumbs li:not(:last-of-type):after{
	content: " >> ";
}

.breadcrumbs li:last-of-type{
	font-weight: bold;
}



section{
	box-shadow: 1px 1px 3px rgba(160, 160, 160, 0.4);
	border-radius: 3px;
	background-color: white;
	padding: 2%;
	margin: 2% 0%;
}

section h2{
	margin: 0 0 1rem 0;
}


main{
	padding: 2%;	
	margin: 0 0 1%;
	background-color: #f9f9f9;
}



/* footer principal de la página (directamente dentro del body) */
body>footer{
	background-image: url(../images/template/header_base.jpg);
	background-size: cover;
}

body>footer>div{
	background-color: #fffc;
}

body>footer p{
	margin-bottom: 0.5rem;
}

body>footer a{
	font-size: 1rem;
	color: rgb(60, 100, 160);
}

body>footer figure{
	min-width: 50px !important;
	text-align:center;
}

body>footer img{
	max-width: 80px;
}






/* ---------------------- VISTAS DE ERROR HTTP ---------------------- */

h2.http-code{
	font-size: 6rem;
	text-align: center;
	margin: 10px auto;
}

p.http-message{
	font-size: 2rem;
	margin: 10px auto;
}

p.http-details{
	font-size: 1.2rem;
	margin: 25px auto;
}


div.http-error{
	width: 80%;
	margin: auto;
	padding: 5px 10px 40px 10px;
	text-align: center;
	font-size: 2rem;
}



/* =============================== MODALES =============================== */

/* Contenedor del modal con el fondo semistransparente */
.modal{
	position: fixed;
	margin:   0;
	padding:  2vh;
	top: 0px;
	left: 0px;
	width: 100vw;
	min-height: 100vh;
	background-color: rgba(120, 120, 120, 0.8);
	z-index: 10;
	text-align: center;
	display:flex;
	align-items: middle;
	cursor: pointer;
}

/* figura dentro del modal */
.modal figure{
	height: 96vh;
	margin: auto;
	max-width: fit-content;
}

.modal figure img{
	height: 80%;
}

.modal figure img.no-description{
	height: 95%;
}

.modal figure figcaption{
	height: 5%;	
	font-size: 1.2rem;
}

.modal figure p{
	height: 15%;	
	font-size: 1rem;
}

.enlarge-image{
	cursor: pointer;
}

/* ----------------- MENSAJES DE ERROR Y ÉXITO ----------------- */


div.success-message, div.error-message, div.warning-message, #accept-cookies{
	height: 70%;
	width: 70%;
	padding: 50px;
	border-radius: 8px;
	margin: auto;
	font-size: 1.2em;
}


.success{
	background-color: #dfd;
	color: #363;
}

.warning{
	background-color: #ffd;
	color: #663;
}

.error, .danger{
	background-color: #fdd;
	color: #633;
}

p.error, p.success{
	padding: 20px;
	margin: 20px 0px;
	
}

p.error, div.error{
	box-shadow: 0px 0px 2px rgba(150, 30, 30, 0.5);
}

p.success, div.success{
	box-shadow: 0px 0px 2px rgba(30, 150, 30, 0.5);
}

div.error, div.success, div.warning{
	padding: 20px;
}


div.success-message h2{
	color: #090;
	margin-bottom: 40px;
}

div.error-message h2{
	color: #900;
	margin-bottom: 40px;
}

div.warning-message h2{
	color: #990;
	margin-bottom: 40px;
}

div.success-message a:hover, div.error-message a:hover, div.warning-message a:hover{
	text-decoration: underline;
}

div.success-message{
	color: #060;
	background-color: #cfc;
	border: solid 3px #060;
}

div.error-message{
	color: #600;
	background-color: #fcc;
	border: solid 3px #600;
}

div.warning-message{
	color: #660;
	background-color: #ffc;
	border: solid 3px #660;
}

#accept-cookies{
	background-color: white;
}
