/* 
	FICHERO CON EL ESTILO PARA TELÉFONO
	
	Autor: Robert Sallent
	Última revisión: 25/07/2024
*/


/* Correcciones de clases genéricas para adaptarlas a pantallas pequeñas */

.pc{display: none !important;}

.w50, .w75, .w100 { width: 100% }

.two-columns			{ column-count: 1 }
.three-columns			{ column-count: 1 }
.four-columns			{ column-count: 2 }


/* Elementos estructurales */
body{
	margin: 0;
	padding: 0;
	width: 100%;
}


section{
	margin: 1.5rem 0px;
	padding: 5px;
}


/* Header principal (en el body)  -------------------------------  */
#main-header{
	background: none;
}
#main-header>div{
	padding: 5px;
}

#main-header hgroup{
	margin: auto;
	padding: 0px;
	text-align: left;
	width: 100%;
}

#main-header h1{
	font-size: 1.8rem;
	white-space: wrap;
}

#main-header h2{
	font-size: 1.15rem;
}


/* ------------------------------- MENU  -------------------------------  */
.menu{
	padding: 0px;
	border-radius: 0px;
}

.menu li{
	display: block;
}

.menu li a{
	padding: 10px 20px;
}


.menu li:not(:first-of-type){
	border-left: none
}

.menu li:not(:last-of-type){
	border-bottom: dotted 2px white;
}

/* Formularios -------------------------------------  */
form .long, form .short, form .medium{
	width: 90%;
	margin: 5px;
}

form label{
	width: 90%;
}

/* ------------------------ MODALES Y MENSAJES -------------------------  */
.success-message, .error-message, .warning-message{
	padding: 10px;
	height: 90%;
	width: 90%;
}

#accept-cookies{
	padding: 10px;
	width: 90%;
}


.modal{
	padding: 5px;
}

.modal figure.card{
	margin: auto;
	width: 96%;
	padding: 5px;
}

.modal-cookies>form{
	height: 50%;
}

.modal figure.card img, .modal figure.card img.no-description{
	aspect-ratio: 3/4;
}


/* Imágenes y galerías ----- */
figure.card{
	margin: 10px 0px;
}


.code-block{
	padding: 5px;
	font-size: 0.75rem;
	tab-size: 0.8rem;
}


/* -------------------------------- LISTAS ---------------------------------*/

.grid-list-header {
   display: none;
}

.grid-list-item {
   grid-template-columns: 1fr;
   grid-row-gap: 8px;
}

.grid-list-item span {
   display: block;
   font-weight: normal;
}

.grid-list-item span::before {
   content: attr(data-label) ": ";
   font-weight: bold;
}
  
/* ------------------------------- FOOTER  -------------------------------  */
.footer{
	background-size: cover;
}
.footer>div{
	width: 100%;
	text-align: center;
	margin: 5px;
	padding: 5px;
	background-color: rgba(255,255,255,0.8);
}

.footer div.links{
	width: 100%;
	display: flex;
}

.footer div.links a{
	display: block;
	flex: 1;
	text-align: center;
}

div.links img{
	width: 80%;
	height: auto;
}




