/* 
	FICHERO CON LA BASE PARA LOS ESTILOS
	
	Autor: Robert Sallent
	Última revisión: 27/03/2023
*/

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



/* ------------------------  FLEX --------------------- */
/* para el flex */
.flex-container{
	display: flex;
	flex-wrap: wrap;
}

.flex1{flex:1}
.flex2{flex:2}
.flex3{flex:3}
.flex4{flex:4}
.flex5{flex:5}
.flex6{flex:6}
.flex7{flex:7}
.flex8{flex:8}

/* ------------------ ELEMENTOS FLOTANTES --------------------- */
.float-right{float:right}
.float-left{float:left}
.clear-both{clear: both}

/* --------------------------- TEXTOS --------------------------- */
.centrado, .centered{ text-align: center;}
.justificado, .justified{ text-align: justify;}
.izquierda, .left{ text-align: left;}
.derecha, .right{ text-align: right;}

.mayusculas, .uppercase{ text-transform: uppercase; }
.minusculas, .lowercase{ text-transform: lowercase; }

.cursiva, .italic{font-style: italic; }
.negrita, .bold{font-weight: bold; }

.mini{ font-size: 0.8rem; }
.maxi{ font-size: 1.2rem; }

.bloque-centrado, .centered-block{
	margin-left: auto;
	margin-right: auto;
}


/* -------------------- PADDING, MARGIN Y ANCHO --------------------- */
.p1								{ padding: 1%; }
.p2								{ padding: 2%; }
.p3								{ padding: 5%; }
.p4								{ padding: 10%; }
.p5								{ padding: 20%; }

/* Margins genéricos */
.m1								{ margin: 1% }
.m2								{ margin: 2% }
.m3								{ margin: 5% }
.m4								{ margin: 10% }
.m5								{ margin: 20% }

/* anchos */
.w10							{ width: 10% }
.w25							{ width: 25% }
.w50							{ width: 50% }
.w100							{ width: 100% }

.minw100						{ min-width: 100px }
.minw250						{ min-width: 250px }
.minw500						{ min-width: 500px }
.minw1000						{ min-width: 1000px }

.max100							{ max-width: 100px }
.maxw250						{ max-width: 250px }
.maxw500						{ max-width: 500px }
.maxw1000						{ max-width: 1000px }


/* --------------------- ELEMENTOS OCULTOS ------------------------ */
.oculto							{ display: none }


/* ----------------- Para las vistas de error HTTP ----------------- */

h2.http-code{
	font-size: 5.2rem;
	text-align: center;
	margin: 5px auto;
}

p.http-message{
	font-size: 2rem;
	margin: 5px auto;
}

p.http-details{
	font-size: 1.5rem;
	margin: 5px auto;
}


div.http-error{
	width: 80%;
	margin: auto;
	padding: 5px 10px 40px 10px;
	text-align: center;
	font-size: 2rem;
}


/* ----------------- FIGURAS E IMÁGENES ----------------- */

figure.centrada{
	margin: auto;
	text-align: center;
}

figcaption{
	font-size: 0.8rem;
	font-style: italic;
}



/* éxito y error */
.success{
	background-color: #efe;
	color: #363;
}

.warning{
	background-color: #ffe;
	color: #663;
}

.error{
	background-color: #fee;
	color: #633;
}

p.error, p.success{
	padding: 20px;
}

div.error, div.success, div.warning{
	padding: 20px;
}

div.mensajeExito, div.mensajeError, div.mensajeWarning{
	position: fixed;
	margin: 0px;
	top: 0px;
	left: 0px;
	background-color: rgba(120, 120, 120, 0.8);
	width: 100vw;
	min-height: 100vh;
	padding: 15%;
	z-index: 10;
	text-align: center;
}

div.mensajeExito h2{
	color: #090;
	margin-bottom: 40px;
}

div.mensajeError h2{
	color: #900;
	margin-bottom: 40px;
}

div.mensajeWarning h2{
	color: #990;
	margin-bottom: 40px;
}

div.mensajeExito>div, div.mensajeError>div, div.mensajeWarning>div{
	padding: 50px;
	border-radius: 10px;
	margin: auto;
	font-size: 1.2em;
}

div.mensajeExito a:hover, div.mensajeError a:hover, div.mensajeWarning a:hover{
	text-decoration: underline;
}

div.mensajeExito>div{
	color: #060;
	background-color: #cfc;
	border: solid 5px #060;
}

div.mensajeError>div{
	color: #600;
	background-color: #fcc;
	border: solid 5px #600;
}

div.mensajeWarning>div{
	color: #660;
	background-color: #ffc;
	border: solid 5px #660;
}


/* distintos elementos */
h1, h2, h3{
	margin-top: 1rem;
	margin-bottom: 1.1rem;
}

h1 .small{
	font-size: 1.25rem;
}

h2{
	margin: 10px 0px;
	padding: 10px 0px;
}

p{
	margin-bottom: 1.1rem;
}

a{
	color: inherit;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}


/* estructura de la página */
body{
	color: rgb(100, 100, 100);
	padding: 10px 2%;
	font-family: arial, verdana, helvetica;
	width: 100%;	
	margin: 0px auto 20px auto;
}

main{
	padding: 2%;	
	margin: 0px auto;
	border-radius: 5px;
	background-color: #f9f9f9;
}

main a{
	color: rgb(0, 128, 212);
}

main a:hover{
	text-decoration: underline;
}

main ul{
	margin: 20px 10px;
}

main ul li{
	margin-left: 40px;
	margin-bottom: 10px;
}

/* header y footer principales */
header.primary{
	display: flex;
	flex-wrap:wrap;
	padding: 0px 10px 10px;
}

header.primary figure{
	max-width: 100px;
}

header.primary img{
	width: 100%;
	vertical-align: middle;
}

header.primary hgroup{
	margin: auto 0;
	padding: 0 2%;
}

header.primary h1{
	color: rgb(160, 160, 160);
	font-size: 2.8rem;
}



.flex-container>section:not(:first-of-type){
	border-left: dashed 2px grey;
}


footer.primary{
	text-align: right;
	padding: 20px;
}

footer.primary a{
	font-style: italic;
	font-size: 1.05rem;
	color: rgb(60, 100, 160);
}

footer.primary p{
	margin-bottom: 0px;
}

footer.primary img{
	height: 40px;
	width: 40px;
	margin-right: 10px;
	vertical-align: middle;
}

footer.primary{
	border-top: solid 2px lightgrey;
}

/* formulario de login */
#login{
	min-width: 300px;
	border: solid 1px rgb(60, 100, 160);
	background-color: white;
	padding: 20px 5%;
	border-radius: 5px;
	text-align: center;
}


/* Barra de navegación */
menu{
	padding: 8px 20px;
	background-color: rgb(60, 100, 160);
	color: white;
	border-radius: 5px;
}

menu li{
	text-align: center;
	display: inline-block;
	list-style-type: none;
}

menu li a{
	display: block;
	padding: 10px 20px;
	margin: 0px;
	transition: 0.2s;
}
menu li a:hover{
	background-color: white;
	color: #006;
}

menu li:not(:first-of-type){
	border-left: dotted 2px white;
}

/* migas */
nav.breadcrumbs li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 5px;
}

nav.breadcrumbs li a:hover{
	text-decoration: underline;
}

nav.breadcrumbs li:not(:last-of-type):after{
	content: " >> ";
}

nav.breadcrumbs li:last-of-type{
	font-weight: bold;
}


/* formularios */
form{
	padding: 5px;
	margin: 5px auto;
}

td form{
	padding: 0px;
	margin: 0px;
}

form.filtro{
	padding: 10px;
}

label{
  display: inline-block;
  min-width: 80px; 
  margin: 12px 10px;
  font-style: italic;
}

input, select, textarea{
	padding: 6px 10px;
}

textarea{
	vertical-align: text-top;
	resize: none;
	min-width: 300px;
	min-height: 200px;
}

/* botones */
.button, a{
	font-size: 1rem;
}

.button{
	color: white;
	padding: 8px 20px;
	margin: 4px;
	border-radius: 3px;
	background-color: rgb(60, 100, 160);
	white-space: nowrap;
	display: inline-block;
	cursor: pointer;
	border: none;
}

.button.current, .button.active{
	border: solid 2px rgb(60, 100, 160);
}

.button:hover{
	background-color: rgb(100, 140, 200);
}

.buttonLight{
	color: white;
	border: solid 2px rgb(80, 120, 180);
	padding: 4px 12px;
	border-radius: 5px;
	background-color: rgb(120, 170, 220);
	display: inline-block;
	cursor: pointer;
}

.buttonLight:hover{
	background-color: rgb(100, 140, 200);
}

/* paginador */
.paginator-links{
	color: #33a;
}

.paginator-links .current{
	background-color: white;
	color: #99a;
}

/* tablas */
table{
	border: solid 1px rgb(60, 100, 160);
	width: 100%;
	margin: 5px auto;
}

table th{
	color: white;
	background-color: rgb(60, 100, 160);
	padding: 10px;
	font-size: 1.2rem;
	text-align: left;
}

table tr:nth-of-type(odd){
	background-color: white;
}

table tr:nth-of-type(even){
	background-color: #e9e9e9;
}

table tr, table td{
	padding: 8px;
}

/* paginador*/
.paginator-stats{
	text-align: right;
}

.paginator-links{
	text-align: center;
}

/* listas genéricas */
ul.listado li, ol.listado li{
	margin: 10px 0px 5px 20px;
	
}

/* imágenes */
.cover-mini{
	width: 100%;
	max-width: 80px;
	max-height: 120px;
}

.cover{
	width: 100%;
	max-width: 280px;
	max-height: 400px;
	margin: 10px;
}

/* Mapa */
#mapa{
	width: 100%;
	min-height: 360px;
}

