/* 
	FICHERO CON EL ESTILO PARA LOS TEST UNITARIOS
	
	Autor: Robert Sallent
	Última revisión: 27/03/2023
*/

@import "base.css";

/* éxito y error */
.success{
	background-color: #efe;
	color: #363;
}

.warning{
	background-color: #ffe;
	color: #663;
}

.error{
	background-color: #fee;
	color: #633;
}

p.error, p.success{
	padding: 20px;
}

div.error, div.success, div.warning{
	padding: 20px;
}


/* distintos elementos */
h1, h2, h3{
	margin-top: 1rem;
	margin-bottom: 1.25rem;
}

p{
	margin-bottom: 1.1rem;
}

a{
	color: inherit;
	text-decoration: none;
}

/* estructura de la página */
body{
	color: rgb(120, 120, 120);
	padding: 20px;
	font-family: arial, verdana, helvetica;
	width: 90%;	
	margin: 20px auto;
}

pre{
	font-size: 1rem;
	font-family: 'lucida console', arial;
	line-height: 1.35rem;
	margin: 10px 15px;
}

/* header y footer principales */
header.primary{
	display: flex;
	flex-wrap:wrap;
	padding: 10px;
}

header.primary figure{
	max-width: 80px;
}

header.primary img{
	width: 100%;
	vertical-align: middle;
}

header.primary hgroup{
	margin: auto 0;
	padding: 0 2%;
}

header.primary h1{
	color: rgb(160, 160, 160);
	font-size: 2rem;
}

footer.primary{
	margin-top: 20px;
	text-align: right;
	padding: 20px;
}

footer.primary a{
	font-style: italic;
	font-size: 1.05rem;
	color: rgb(60, 100, 160);
}

footer.primary img{
	height: 40px;
	width: 40px;
	margin-right: 10px;
	vertical-align: middle;
}

header.primary, footer.primary{
	border-bottom: solid 2px lightgrey;
	border-top: solid 2px lightgrey;
}

	
	
/* formularios */
form{
	padding: 20px;
	margin: 5px auto;
	border: dashed 3px #ddd;
	display: inline-block;
}

label{
  display: inline-block;
  min-width: 100px; 
  margin: 12px 10px;
  font-style: italic;
}

input, select, textarea{
	padding: 6px 10px;
}

textarea{
	vertical-align: text-top;
	resize: none;
	min-width: 300px;
	min-height: 200px;
}

/* botones */
.button, a{
	font-size: 1rem;
}

.button{
	color: white;
	border: solid 2px rgb(40, 80, 140);
	padding: 6px 20px;
	margin: 6px;
	border-radius: 5px;
	background-color: rgb(60, 100, 160);
	white-space: nowrap;
	display: inline-block;
	cursor: pointer;
}

.button:hover{
	background-color: rgb(100, 140, 200);
}

.buttonLight{
	color: white;
	border: solid 2px rgb(80, 120, 180);
	padding: 4px 12px;
	border-radius: 5px;
	background-color: rgb(120, 170, 220);
	display: inline-block;
	cursor: pointer;
}

.buttonLight:hover{
	background-color: rgb(100, 140, 200);
}
	
	
p.end{
	text-align: center;
	font-weight: bold;
	padding: 10px;
	margin: 30px auto;
	background-color: #faa;
	color: #900;
	border-radius: 5px;
}	


h1:first-letter, h2:first-letter, h3:first-letter{
	text-transform: uppercase;
}

ul{
	margin: 1.5rem;
	column-count: 3;
}
ul li a{
	color: #99d;
}

ul li{
	margin-left: 20px;
	padding: 5px;
}

div.inicio{
	text-align: center;
}

