/* 
	FICHERO CON EL ESTILO PARA LOS TEST UNITARIOS
	
	Autor: Robert Sallent
	Última revisión: 27/03/2023
*/

@import "base.css";


pre{
	font-size: 0.8rem;
	font-family: 'lucida console', arial;
	line-height: 1.15rem;
	margin: 10px 15px;
}

#test-list{
	margin: 1.5rem;
	column-count: 3;
}

#test-list a{
	color: #99d;
}

#test-list li{
	margin-left: 20px;
	padding: 5px;
}


