# Evita el listado de directorio (si lo descomentamos)
# Options -Indexes

# Pone en marcha el mod rewrite
RewriteEngine on

# Base para todas las peticiones (ubicación de index.php respecto al DocumentRoot)
RewriteBase /

# Si se solicita un fichero, que no reescriba la URL
RewriteCond %{REQUEST_FILENAME} !-f

# Reescribe cualquier petición, convirtiéndola de la siguiente forma:
# si llega /libro/show/5 reescribe a  index.php?url=libro/show/5
# el controlador frontal tomará ese parámetro url y lo descompodrá en partes

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
