<main>
    <h1>Formularios</h1>
    
    <p>En este ejemplo se puede ver el aspecto por defecto de los formularios en
    FastLight.</p>
    
    
    <h2>Índice</h2>
    <ul>
    	<li><a href="#form-login">Formulario de LogIn</a></li>
    	<li><a href="#form-class">La clase <code>form</code></a></li>
    	<li><a href="#form-search">Formulario de búsqueda</a></li>
    	<li><a href="#controls">Controles</a></li>
    	<li><a href="#columns">Fieldsets en columnas</a></li>
    </ul>
    
    <section id="form-login">
	    <h2>Formulario de Login</h2>
	    
	    <p>El formulario de login ya se encuentra implementado en una vista, 
	    en el fichero <code>mvc/views/login.php</code>.
	    Es similar al que se muestra a continuación:</p>
	    
   
	    
<h3>Ejemplo</h3>		
<div id="ejemplo01"> 	    
	<form class="w50 centered-block" method="POST" action="#" autocomplete="off" id="login">
		<h2>Acceso a <?= APP_NAME ?></h2>
		<p>Introduce tus datos en el formulario para identificarte.</p>
	
		<div class="m1">
			<label for="email">Email:</label>
			<input type="email" name="user" id="email" required>
			<br>
			<label for="password">Password:</label>
			<input type="password" name="password" id="password" required>
		</div>
		
		<div class="centered m2">
			<input type="submit" class="button" name="login" value="LogIn">
		</div>
		<div class="right">
			<a href="#">Olvidé mi clave</a>
		</div>   	
	</form>
</div>

		<h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo01">
			Cargando el código del ejemplo...
	    </div>   
	    
	    <div class="mt2 p2 warning">
		    <p>Si queréis ver cómo implementar un <b>formulario de login en un modal</b>,
		    podéis consultar el ejemplo <a href="/Example/modales#modalForm">formulario con modales</a>.</p>
	    </div>
    </section>
    
    
    <section id="form-class">
	    <h2>La clase form</h2>
	    
	    <p>Podemos simular el aspecto de un formulario mediante contenedores genericos. Por ejemplo, a continuación se 
	    muestra lo que parece un formulario, pero en realidad es un <code>div</code> con 
	    clase <code>form</code>.</p> 

<h3>Ejemplo</h3>		
<div id="ejemplo02"> 	    
	<div class="w50 left centered-block form">
	
		<h2 class="centered">Registro de usuario</h2>
	
		<div class="m1">
			<label for="email">Email:</label>
			<input type="email" class="long" name="user" id="email" placeholder="tu@email" required>
			<br>
			<label for="password">Password:</label>
			<input type="password" class="long" name="password" id="password" placeholder="******" required>
			<br>
			<label for="name">Nombre:</label>
			<input type="text" class="long" name="nombre" id="name" placeholder="nombre" required>
			<br>
			<label for="edad">Edad:</label>
			<input type="number" class="short" name="edad" id="edad" required value="25" min="0">
		</div>
		
		<div class="centered m2">
			<button type="button" class="button" onclick="alert('Formulario simulado')">Registro</button>
		</div>
	</div>
</div>

		<h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo02">
			Cargando el código del ejemplo...
	    </div>   
    </section>
    
    
    
    <section id="form-search">
	    <h2>Formulario de búsqueda</h2>
	    
	    <p>La creación de formularios para búsqueda o filtrado de datos se
	    encuentra automatizada mediante templates (se explica en clase y en los apuntes).
	    El código HTML resultante es similar al que se muestra, evidentemente también
	    se puede crear a mano y personalizar al gusto:</p>
	    
<h3>Ejemplo</h3>		
<div id="ejemplo03"> 		    
	<form method='POST' id="filtro" class='derecha'>
	   	<label>Buscar</label>
	   	<input type='text' name='texto' placeholder='texto'>
		
		<label>en</label>
		<select name='campo'>
			<option value='titulo' selected>Título</option>
			<option value='editorial' >Editorial</option>
			<option value='autor' >Autor</option>
			<option value='isbn' >ISBN</option>
		</select>
		
		<label>ordenado por</label>
		<select name='campoOrden'>
			<option value='titulo' selected>Título</option>
			<option value='editorial' >Editorial</option>
			<option value='autor' >Autor</option>
			<option value='isbn' >ISBN</option>
			<option value='id' >ID</option>
		</select>
		
		<input type='radio' name='sentidoOrden' value='ASC'>
		<label>ascendente</label>
		<input type='radio' name='sentidoOrden' value='DESC' checked>
		<label>descendente</label>
		<input class='button' type='submit' name='filtrar' value='Filtrar'>
	</form>	
</div>

		<h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo03">
			Cargando el código del ejemplo...
	    </div>   

	</section>
	
	
	<section id="controls">
		<h2>Distintos tipos de control</h2>
	    <p>En este ejemplo se muestra un formulario con muchos controles distintos.
		En los formularios, podemos usar las clases <code>short</code>,
	    <code>medium</code> o <code>large</code> para establecer las longitudes de las etiquetas
	    y controles, aunque para las etiquetas no es necesario indicar nada.</p>


<h3>Ejemplo</h3>		
<div id="ejemplo04"> 	    
	<form method="POST" class="w75">
	<h2 class="centrado">Registro de usuario</h2>
	
	<label>Nombre:</label>
	<input type="text" name="nombre" class="long">
	<br>
				
  	<label>Fecha:</label>
	<input type="date" name="nacimiento" class="short">
	<br>
	
	<label>Hora:</label>
	<input type="time" name="hora" class="short">
	<br>
	
	<label>Sitio web:</label>
	<input type="url" name="web" class="long">
	<br>
				
	<label>E-mail:</label>
	<input type="email" name="email" class="long">
	<br>
				
	<label>Hermanos:</label>
	<input type="number" name="hermanos" min="0" max="10" class="short">
	<br>
					
	<label>Televisores:</label> 
	<input type="range" name="points" min="0" max="10" step="1" value="5"
		   onchange="teles.innerHTML = this.value;" class="short">
	<span id="teles" style="font-weight: bold;">5</span>
	<br>
			
	<label>Imagen:</label>
	<input type="file" class="medium">
	<br>
	
	<label>Color favorito:</label>
	<input type="color" class="short" value="#ffffff">
	<br>
	
	<div class="centrado">
       <input type="submit" class="button" name="registro" value="Enviar">
       <input type="reset" class="button-light" value="Reset">
    </div>
	</form>
</div>	    

		<h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo04">
			Cargando el código del ejemplo...
	    </div> 	    
    </section>
    
    
    
    
    
    
	<section id="columns">  
	    <h2>Formulario con fieldsets en columnas</h2>
	    
	    <p>El formulario tiene en su interior un contenedor de clase <code>flex-container</code>
	     y cada columna es un <code>fieldset</code> de clase
	     <code>flex1</code> o <code>flex2</code>... según el ancho deseado.</p>
	    
<h3>Ejemplo</h3>		
<div id="ejemplo05"> 
	<form method="POST">
	  	<h2 class="centrado">Registro de usuario</h2>
	  	<p>Por favor, rellena el formulario con tus datos. Prometemos no usar tus
	  	datos con fines malignos ni para venderlos al mejor postor (aunque si llegan
	  	buenas ofertas...).</p>
	  	
	  	<div class="flex-container mb2">
			<fieldset class="flex1">
				<legend>Datos de usuario</legend>
				
			  	<label>Nombre:</label>
				<input type="text" name="nombre" class="long">
				<br>
				
				<label>Sexo:</label>
				<select name="sexo" class="long">
					<option value="H">Hombre</option>
					<option value="M">Mujer</option>
					<option value="N">No binario</option>
				</select>
				<br>
						
			   	<label>Fecha:</label>
				<input type="date" name="nacimiento" class="short">
				<br>
				
				<label>Hora:</label>
				<input type="time" name="hora" class="short">
				<br>
				
				<label>Sitio web:</label>
				<input type="url" name="web" placeholder="https://fastlight.org" class="long">
				
				<label>Color favorito:</label>
				<input type="color" name="color" value="#aaaaff" class="long">
			</fieldset>
			<fieldset class="flex1">
				<legend>Vehículos</legend>
				
				<label class="short">Carné de conducir</label>
				<input type="radio" name="carne" value="A">
				<label>A</label>
				<input type="radio" name="carne" value="B" checked>
				<label>B</label>
				<input type="radio" name="carne" value="C">
				<label>C</label>
				<br>
				 		
				<input type="checkbox" name="coche" value="1">
				<label>Coche</label>
				<br>
				<input type="checkbox" name="moto" value="1">
				<label>Moto</label>
				<br>
				<input type="checkbox" name="bici" value="1">
				<label>Bici</label>
				<br>
							       		      			
				<label>Marca:</label>
				<input type="text" name="marca" class="long">
				<br>
				<label>Modelo:</label>
				<input type="text" name="modelo" class="long">
			</fieldset>
		</div>			
		<div class="centrado">
	         <input type="submit" class="button" name="registro" value="Enviar">
	         <input type="reset" class="button-light" value="Reset">
	      </div>
	</form>
</div>	    
	    
	    <h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo05">
			Cargando el código del ejemplo...
	    </div> 
	    
  </section>
</main>