<main>
    <h1>Previsualización</h1>
    
    <p>En este ejemplo se muestra el funcionamiento de la previsualización de imágenes
       mediante <code>inputs</code> de tipo <code>file</code>.</p>
           
	<section id="image-preview">
	    <h2>Formulario con previsualización de imagen</h2>
	    
	    <p>FastLight incorpora un pequeño script que nos permite <b>realizar previsualizaciones
	       de los ficheros de imagen</b> que seleccionamos en los <code>inputs</code> de tipo <code>file</code>.
	       Para usarlo, tan solo hay que añadir el fichero con 
	       <code>&lt;script src="js/Preview.js"&gt;&lt;/script&gt;</code> y añadir los ID:</p>
	       <ul>
	       		<li><code>file-with-preview</code> al input de formulario.</li>
	       		<li><code>preview-image</code> a la imagen.</li>
	       </ul>
	    
	    	<p>Para configurar las extensiones permitidas, podemos especificar 
	    	el atributo <code>data-extensions</code> en el <code>input</code> de tipo <code>file</code>, donde las indicaremos 
			separadas por "pipes", por ejemplo <code>"jpg|jpeg|png|gif|webp"</code>. Ojo porque
			es sensible a mayúsculas y minúsculas.</p>
			<p>Se muestra en el siguiente ejemplo, donde además se han añadido <a href="/example/modales">modales</a> a la imagen.</p>
   
<h3>Ejemplo</h3>
<div id="ejemplo01">       
	<script src="/js/Preview.js"></script>  
	<script src="/js/Modal.js"></script>	
	
	<form class="no-border" method="POST" enctype="multipart/form-data">
		<div class="flex-container">
			<fieldset class="flex2 no-border">
				<legend>Datos de usuario</legend>
				<label>Nombre:</label>
				<input type="text" name="nombre" class="long">
				<br>
	
				<label>Sexo:</label>
				<select name="sexo" class="long">
					<option value="H">Hombre</option>
					<option value="M">Mujer</option>
				</select>
				<br>
				
				<label>Nacimiento:</label>
				<input type="date" name="nacimiento" class="short">
				<br>
	
				<label>Imagen:</label>
				<input type="hidden" name="MAX_FILE_SIZE" value="1000000">
				<input type="file" accept="image/*" id="file-with-preview" data-extensions="jpg|jpeg|png|gif|webp">
			</fieldset>
			
			<figure class="flex1 centrado">
				<img class="fit with-modal" src="/images/demo/02.jpg" id="preview-image" alt="Previsualización de la imagen de perfil">
				<figcaption>Previsualización de la imagen de perfil</figcaption>
			</figure>    
		</div>			
		<div class="centrado">
			<input type="submit" class="button" name="registro" value="Enviar">
			<input type="reset" class="button-light" value="Reset">
		</div>
	</form>
</div>  

		<h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo01">
			Cargando el código del ejemplo...
	    </div>
    </section>
    
</main>