<main>
    <h1>Figuras e imágenes</h1>
    
    <p>Documentación y ejemplos para las <b>imágenes</b> y <b>figuras</b>.</p>
    
	<h2>Índice</h2>
    <ul>
    	<li><a href="#figuras">Figuras</a></li>
    	<li><a href="#card">Figura con forma de tarjeta</a></li>
    	<li><a href="#aspectRatio">Relación de aspecto</a></li>
    	<li><a href="#ajuste">Ajuste de la imagen en la figura</a></li>
    	<li><a href="#seleccionables">Figuras seleccionables</a></li>
    </ul>
    
    <section id="figuras">
    	<h2>Figuras</h2>
    	
    	<p>Las figuras, con su imagen y su leyenda, no cuentan con gran cantidad
    	de estilos aplicados por defecto. Aparecerán con alineación centrada
    	y texto en cursiva en la leyenda.</p>
    	
    	<p>Las imágenes se estirarán para ocupar el espacio disponible. 
    	En el ejemplo siguiente se ha limitado su tamaño.</p>
    	
 
<h3>Ejemplo</h3>   	
<div id="ejemplo01">
	<figure>
		<img src="/images/template/background_base.jpg" alt="background" style="height:200px">
		<figcaption>Figura con la imagen de background</figcaption>
	</figure>
</div>
	    
	    <h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo01">
			Cargando el código del ejemplo...
	    </div>
    </section>
    
    
    
    
    
     <section id="card">
    	<h2>La clase card para figuras</h2>
    	
    	<p>Podemos mejorar un poco el aspecto de las figuras usando la clase <code>card</code>.
 		Esto hace que la figura tenga aspecto de tarjeta.</p>
    
	    <p>Podemos usar también las clases <code>xx-small</code>, <code>x-small</code>, <code>small</code>, <code>medium</code> 
	    , <code>large</code>, <code>x-large</code> o <code>xx-large</code>
	    para limitar el ancho máximo. Si las imágenes son más pequeñas que el tamaño máximo, las
	    figuras no se estirarán.</p> 
	    
	    <p>Para el siguiente ejemplo, se ha cambiado la disposición de bloque de las figuras
	       a en línea con propiedades de bloque usando la clase <code>inline-block</code>, de esta forma
	       se ven una al lado de otra sin usar <code>flex</code>.</p>
    
<h3>Ejemplo</h3>   	
<div id="ejemplo02" class="centered">
	<figure class="inline-block xx-small card m1">
		<img src="/images/template/logo.png" alt="FastLight">
	</figure> 
	<figure class="inline-block x-small card m1">
		<img src="/images/template/logo.png" alt="FastLight">
		<figcaption>x-small.</figcaption>
	</figure> 
	<figure class="inline-block small card m1">
		<img src="/images/template/logo.png" alt="FastLight">
		<figcaption>Figura small.</figcaption>
	</figure> 	
	<figure class="inline-block medium card m1">
		<img src="/images/template/logo.png" alt="FastLight">
		<figcaption>Ejemplo de figura medium.</figcaption>
	</figure> 
</div>
	    
	    <h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo02">
			Cargando el código del ejemplo...
	    </div>
    </section>
    
        
    
    <section id="aspectRatio">
	    <h2>Relación de aspecto de la imagen</h2>
	    
	    <p>A las imágenes no se les asigna una relación de aspecto por 
	    defecto, pero podemos <b>indicar unas proporciones "estándar"</b> usando las clases:</p>
	    <ul>
	    	<li><code>portrait</code>: 3/4.</li>
	    	<li><code>slim</code>: 2/5.</li>
	    	<li><code>landscape</code>: 4/3.</li>
	    	<li><code>wide</code>: 5/2.</li>
	    	<li><code>square</code>: 1/1.</li>
	    	<li><code>legacy</code>: 3/2.</li>
	    </ul>
	    
	    <p>Evidentemente, podemos editar estas proporciones en el CSS si no nos gustan o no son
	    adecuadas a aquello que queramos hacer.</p>
	
<h3>Ejemplo</h3>
<div id="ejemplo03" class="centered">
   	<figure class="inline-block small card m1">
   		<img class="square" src="/images/template/logo.png" alt="Robert Sallent">
   		<figcaption>square</figcaption>
	</figure>
	
   	<figure class="inline-block small card m1">
   		<img class="landscape" src="/images/template/background_base.jpg" alt="Background">
   		<figcaption>landscape</figcaption>
   	</figure>

   	<figure class="inline-block medium card m1">
   		<img class="wide" src="/images/template/header_base.jpg" alt="Header">
   		<figcaption>wide</figcaption>
   	</figure>
</div>

 		<h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo03">
			Cargando el código del ejemplo...
	    </div>
	</section>
	
	
	
	
	
    <section id="ajuste">
	    <h2>Ajuste de la imagen en la figura</h2>
	    
	    <p>Las imágenes dentro de las figuras se estirarán en función de la proporción seleccionada.
	    Una imagen con la proporción incorrecta quedará deformada, tal y como se muestra
	    en la primera figura del siguiente ejemplo.</p>
	    
	    <p>Para solucionar esto, en las imágenes podemos usar las clases:</p>
	    <ul>
	    	<li><code>fit</code>: aumentará la imágen hasta hacerla encajar en altura o anchura 
			(lo que encaje antes) pero perderemos parte de la misma por los extremos.</li>
			
	    	<li><code>scale</code>: reducirá la imágen para conseguir que entre entera en la
	    	figura. Como contrapartida la imagen se volverá más pequeña y habrá un relleno
	    	de color del fondo alrededor para completar la zona no ocupada.</li>
	    </ul>
	    
	    	
<h3>Ejemplo</h3>
<div id="ejemplo04" class="centered">
   	<figure class="inline-block small card m1">
   		<img class="portrait" src="/images/template/background_base.jpg" alt="Background">
   		<figcaption>portrait (deformada)</figcaption>
	</figure>
	
   	<figure class="inline-block small card m1">
   		<img class="portrait fit" src="/images/template/background_base.jpg" alt="Background">
   		<figcaption>portrait fit (recortada)</figcaption>
   	</figure>

   	<figure class="inline-block small card m1">
   		<img class="portrait scale" src="/images/template/background_base.jpg" alt="Background">
   		<figcaption>portrait scale (reducida)</figcaption>
   	</figure>
</div>

 		<h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo04">
			Cargando el código del ejemplo...
	    </div>
	</section>
	
	
	<section id="seleccionables">
		<h2>Figuras seleccionables</h2>
		
		<p>Para crear figuras seleccionables, tan solo tenemos que añadir el script
		ubicado en <code>js/Selectable.js</code> y colocarles la clase <code>selectable</code>.
		De este modo podremos seleccionar o quitar la selección en las figuras haciendo
		clic.</p>
		
		<p>Si queremos que una figura esté seleccionada por defecto, le añadiremos
		además la clase <code>selected</code>.</p>
		
		
<h3>Ejemplo</h3>
<div id="ejemplo05" class="centered">
	<script src="/js/Selectable.js"></script>
	
   	<figure class="inline-block small card m1 selectable selected">
   		<img class="portrait fit" src="/images/template/logo.png" alt="Robert Sallent">
   		<figcaption>selectable selected</figcaption>
	</figure>
	
   	<figure class="inline-block small card m1 selectable">
   		<img class="portrait fit" src="/images/template/background_base.jpg" alt="Background">
   		<figcaption>selectable</figcaption>
   	</figure>

   	<figure class="inline-block small card m1 selectable">
   		<img class="portrait fit" src="/images/template/header_base.jpg" alt="Header">
   		<figcaption>selectable</figcaption>
   	</figure>
</div>

 		<h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo05">
			Cargando el código del ejemplo...
	    </div>
		
		
		
	
	</section>


	<section id="masEjemplos" class="warning">
		<h2>Más ejemplos</h2>
		<p>Para ver ejemplos de galerías de imágenes hechas con <code>flex</code>, filtros y 
		galerías con modales, consultad los siguientes ejemplos:</p>
	
		<ul>
			<li><a href="/Example/imagen_galeria">Galerías de imágenes</a>.</li>
			<li><a href="/Example/imagen_filtros">Filtros de imagen</a>.</li>
			<li><a href="/Example/modal">Modales</a>.</li>
		</ul>
    </section>
    
    
    
    
    
</main>
