<main>
    <h1>Galerías de imágenes o vídeos</h1>
    
    <p>En este ejemplo se muestran ejemplos de <b>galerías</b> de imágenes (también sirve para vídeo).</p>
    
       
    <section id="galeria">
	    <h2>Galería básica</h2>
	    
	    <p>Este es el aspecto de una galería básica hecha en
	    FastLight. Simplemente necesitamos un contenedor de clase <code>gallery</code>,
	    aunque en este ejemplo le hemos añadido algunas clases más:</p>
	    <ul>
	    	<li><code>gallery</code>: le da el aspecto y aplica el <b>flex</b>.</li>
	    	<li><code>w75</code> (opcional): para que ocupe el 75% del ancho disponible.</li>
	    	<li><code>centered-block</code> (opcional): centrado en el documento.</li>
	    	<li><code>my2</code> (opcional): aumentar el espacio vertical con otros elementos.</li>
	    </ul>
     
	    <p>Las figuras dentro de la galería tienen las clases <code>card</code> y <code>small</code>.
	       Encontraréis más información sobre figuras e imágenes en el <a href="/example/imagen">ejemplo de
	       figuras e imágenes</a>:</p>
	    <ul>
	    	<li><code>card</code>: forma de tarjeta</li>
	    	<li><code>small</code>: tamaño pequeño.</li>
	    </ul>
	    
<h3>Ejemplo</h3>
<div id="ejemplo01">     
	<div class="gallery w75 centered-block my2">
		<figure class="small card">
			<img src="/images/template/logo.png" alt="Robert Sallent">
			<figcaption>Logo</figcaption>
		</figure>		
		<figure class="small card">
			<img src="/images/template/github.png" alt="GitHub">
			<figcaption>Github</figcaption>
		</figure>
		<figure class="small card">
			<img src="/images/template/linkedin.png" alt="LinkedIn">
			<figcaption>LinkedIn</figcaption>
		</figure>
		<figure class="small card">
			<img src="/images/template/fastlight_base.png" alt="FastLight">
			<figcaption>FastLight</figcaption>
		</figure> 
	</div>
 </div>
	    
	    <h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo01">
			Cargando el código del ejemplo...
	    </div>
    </section>
    
    
    
    
    <section id="distintosTamanos">
	    <h2>Imágenes de distintos tamaños</h2>
	    
	    <p>Con imágenes de distintos tamaños, obtendremos una galería con imágenes de proporciones diferentes.
	    Seguramente esto no nos guste demasiado...</p>
	    
<h3>Ejemplo</h3>
<div id="ejemplo02">
	<div class="gallery w75 centered-block my2">
		<figure class="small card">
			<img src="/images/template/logo.png" alt="Robert Sallent">
			<figcaption>Logo</figcaption>
		</figure>
		<figure class="small card">
			<img src="/images/template/background_base.jpg" alt="Robert Sallent">
			<figcaption>Background</figcaption>
		</figure>
		<figure class="small card">
			<img src="/images/template/header_base.jpg" alt="Robert Sallent">
			<figcaption>Header</figcaption>
		</figure>
	</div>
</div>
		
		<h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo02">
			Cargando el código del ejemplo...
	    </div>   
	</section>
	
	

	<section id="ajusteFit">
		<h2>Ajustando la proporción con fit</h2>
		
		<p>Para<b> ajustar imágenes de distintos tamaños en una galería flex sin que se deformen</b>, 
		añadiremos la clase <code>fit</code> a las imágenes. Esto las escalará para rellenar todo el espacio disponible 
		(pero no veremos la imagen entera).</p>
		<p>Es útil cuando tenemos imágenes de diferentes tamaños o distintas relaciones de aspecto 
		en la misma galería. Para indicar la relación de aspecto, podemos usar las clases mencionadas
		en el ejemplo de <a href="/example/imagen">imágenes y figuras</a>.</p>
	
<h3>Ejemplo</h3>
<div id="ejemplo03">
	<div class="gallery w75 centered-block my2">
		<figure class="small card">
			<img class="portrait fit" src="/images/template/logo.png" alt="Robert Sallent">
			<figcaption>Logo</figcaption>
		</figure>
		<figure class="small card">
			<img class="portrait fit" src="/images/template/background_base.jpg" alt="Robert Sallent">
			<figcaption>Background</figcaption>
		</figure>
		<figure class="small card">
			<img class="portrait fit" src="/images/template/header_base.jpg" alt="Robert Sallent">
			<figcaption>Header</figcaption>
		</figure>
	</div>
</div>
		
		<h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo03">
			Cargando el código del ejemplo...
	    </div>
	</section>
	
	
	<section id="ajusteScale">
		<h2>Ajustando la proporción con scale</h2>
		
		 <p>Otra opción es usar la clase <code>scale</code> para las imágenes, que añadirá bandas a los
	    	lados (o arriba y abajo) para coseguir que la imagen esté entera en el espacio disponible.
		</p>

<h3>Ejemplo</h3>		
<div id="ejemplo04">
	<div class="gallery w75 centered-block my2">
		<figure class="small card">
			<img class="portrait scale" src="/images/template/logo.png" alt="Robert Sallent">
			<figcaption>Logo</figcaption>
		</figure>
		<figure class="small card">
			<img class="portrait scale" src="/images/template/background_base.jpg" alt="Robert Sallent">
			<figcaption>Background</figcaption>
		</figure>
		<figure class="small card">
			<img class="portrait scale" src="/images/template/header_base.jpg" alt="Robert Sallent">
			<figcaption>Header</figcaption>
		</figure>
	</div>
</div>
	    
	    <h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo04">
			Cargando el código del ejemplo...
	    </div>
	</section>

   
   
   <section id="galeriaModales">
		<h2>Galería flex fit con auto-modales</h2>
		
		<p>En este ejemplo final, se muestra una galería flex con imágenes fit y modales. Para saber
		más consultad el ejemplo de <a href="/example/modal">modales</a></p>

<h3>Ejemplo</h3>		
<div id="ejemplo05">
	<script src="/js/Modal.js"></script>
	
	<div class="gallery w75 centered-block my2">
		<figure class="small card">
			<img class="square fit with-modal" src="/images/template/logo.png" alt="Logo"
			data-caption="Logo de FastLight" data-description="Galería con modales">
			<figcaption>Clic en la imagen</figcaption>
		</figure>
		<figure class="small card">
			<img class="square fit with-modal" src="/images/template/background_base.jpg" alt="Background"
			data-caption="Background" data-description="Galería con modales">
			<figcaption>Clic en la imagen</figcaption>
		</figure>
		<figure class="small card">
			<img class="square fit with-modal" src="/images/template/header_base.jpg" alt="Header" 
			data-caption="Header background"
			data-description="Esta imágen es extremadamente larga, no está pensada para ser mostrada dentro de un modal.">
			<figcaption>Clic en la imagen</figcaption>
		</figure>
	</div>
</div>
	    
	    <h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo05">
			Cargando el código del ejemplo...
	    </div>
	</section>
	
	
	<section id="masEjemplos" class="warning">
		<h2>Más ejemplos</h2>
		<p>Para ver ejemplos con estilos para imágenes, filtros y 
		 modales, consultad los siguientes ejemplos:</p>
	
		<ul>
			<li><a href="/Example/imagen">Imágenes</a>.</li>
			<li><a href="/Example/imagen_filtros">Filtros de imagen</a>.</li>
			<li><a href="/Example/modal">Modales</a>.</li>
		</ul>
    </section>
  
</main>
