<main>
    <h1>Legibles</h1>
    
    <p>Un <b>elemento legible</b> es aquel que se convierte 
    <b>de texto a voz</b> cuando ocurre un determinado evento, por 
    ejemplo cuando se le hace clic.</p>
	    
    <h2>Índice</h2>
    <ul>
    	<li><a href="#readables">Elementos legibles</a></li>
    	<li><a href="#voices">Cambiando la voz del lector</a></li>
    	<li><a href="#figuras">Figuras legibles</a></li>
    	<li><a href="#events">Cambiando el evento que dispara la lectura</a></li>
    </ul>
    
    <section id="readables">
	    <h2>La clase readable</h2>
	    
	    
		<p>Con <i>FastLight</i> podemos crear elementos "legibles", indicando la clase
        <code>readable</code> en ellos. Un elemento HTML, por el hecho de ser <code>readable</code>, 
		también tendrá un icono de altavoz
		delante por motivos de usabilidad (hay que comprobar si se ve bien en otros 
		tipos de elemento que no sean
		párrafos) y un título descriptivo.</p>
		
		<p>Esto puede ser útil en términos de accesibilidad. Esta característica 
		aún está abierta a sugerencias y modificaciones.</p>
		<h3>Ejemplo</h3>
		
<div id="ejemplo01">   
	<script src="/js/TextReader.js"></script>
	
	<p class="readable">
		Este párrafo es legible, si haces clic en él, el primer lector 
		configurado te leerá su contenido.
	</p> 
	
	<p class="readable">
		Este otro párrafo también lo es. Si vas haciendo clic en múltiples elementos,
		se  añadirán los textos a la cola de lectura.
	</p>  
</div>
	    
	    <h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo01">
			Cargando el código del ejemplo...
	    </div>
    </section>
		
		
    <section id="voices">
	    <h2>Voces</h2>
	    
	    <p>Se puede cambiar la voz del elemento legible, usando la propiedad
	    personalizada <code>data-voice</code>. En ella indicaremos el índice
	    de la voz que queremos usar, de entre las que tengamos disponibles.
	    Si indicamos el índice de una voz inexistente, se usará la voz 
	    por defecto (índice 0).</p>
		
		<p>Al cambiar la voz, esta quedará modificada hasta que se realice un nuevo
		cambio.</p>
		
		<h3>Ejemplo</h3>
		
<div id="ejemplo02">   
	<!-- inclusión del script -->
	
	<p class="readable" data-voice="0">
		Este párrafo es leido con la primera voz disponible.
	</p> 
	
	<p class="readable" data-voice="1">
		Este párrafo es leido con la segunda voz disponible.
	</p> 
	
	<p class="readable" data-voice="2">
		Este párrafo es leido con la tercera voz disponible.
	</p> 
	
	<p class="readable" data-voice="999">
		La voz 999 no existe (en principio).
	</p>  
</div>
	    
	    <h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo02">
			Cargando el código del ejemplo...
	    </div>
    </section>		




	<section id="figuras">
	    <h2>Figuras legibles</h2>
	    
	    <p>Las figuras no son legibles, pero sí lo son las leyendas o los párrafos
	    que puedan contener. Si se indica la clase <code>readable</code> a la
	    figura, el navegador leerá todo su contenido textual.</p>
	    
	    <p>También podemos marcar como legible tan solo parte del contenido de la figura.</p>
	    
	    <p>Y otra opción a considerar, es la posibilidad de añadir texto oculto que sea legible,
	    mediante voz, aunque esto no se recomendaría por motivos de accesibilidad.</p>
	    
	    <p>A continuación se muestran diversas combinaciones.</p>
	    
	    <h3>Ejemplo</h3>
		
<div id="ejemplo03">   
	<!-- inclusión del script -->
	
	<div class="gallery w75 centered-block my2">
		
		<figure class="inline-block small card m1">
			<img class="square fit" src="/images/template/github.png" alt="GitHub">
			<figcaption>
				<h2>Título</h2>
				<p class="readable">Este párrafo es legible.</p>
				<p>Este no lo es.</p>
			</figcaption>
		</figure>
		
		<figure class="readable inline-block small card m1">
			<img class="square fit" src="/images/template/logo.png" alt="FastLight">
			<figcaption>
				<h2>Título</h2>
				<p>Leyenda de la figura, primer párrafo.</p>
				<p>Segundo párrafo.</p>
			</figcaption>
		</figure> 
		
		<figure class="readable inline-block small card m1">
			<img class="portrait fit" src="/images/template/background_base.jpg" alt="Base">
			<figcaption class="hidden">
				Esta figura tiene una leyenda oculta, pero se puede leer igualmente.
			</figcaption>
		</figure>
		
		<figure class="readable inline-block small card m1">
			<img class="square fit" src="/images/template/linkedin.png" alt="LinkedIn">
			<figcaption>
				<h2>Título</h2>
				<p class="hidden">Esta figura tiene elementos que se muestran y otros que no.
				Al final se leerán todos.</p>
				<p>Este texto sí se muestra.</p>
			</figcaption>
		</figure>	
	</div>
</div>
	    
	    <h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo03">
			Cargando el código del ejemplo...
	    </div>
    </section>		


	<section id="events">
	    <h2>Cambio de evento</h2>
	    
	    <p>Podemos hacer que el texto se lea cuando se produzca otro
	    tipo de evento que no sea clic, por ejemplo: doble clic,
	     colocar el ratón encima...</p>
		
		<p>En principio parece que tiene más sentido para eventos de 
		ratón, pero se puede experimentar con distintos grupos de evento.</p>
		
		<p>Se usa la propiedad <code>data-event</code> para indicar el tipo
		de evento y <code>data-info</code> (opcional) para añadir un texto
		descriptivo para incluir en el atributo <code>title</code> del elemento.</p>
		
		<h3>Ejemplo</h3>
		
<div id="ejemplo04">   
	<!-- inclusión del script -->
	
	<p class="readable">
		Este párrafo se lee mediante un <b>clic</b> (evento por defecto).
	</p> 
	
	<p class="readable" data-event="dblclick" data-info="doble clic">
		Este párrafo se leerá al hacer <b>doble clic</b>.
	</p> 
	
	<p class="readable" data-event="dblclick">
		Este también se lee con <b>doble clic</b>, como no se ha indicado el
		atributo <code>data-info</code>, el título mostrará el texto <i>dblclick</i>.
	</p> 
	
	<!-- 
	<p class="readable" data-event="mouseenter" data-info="colocar el ratón encima">
		Esto se lee cuando entras el ratón en el párrafo.
	</p> 
	-->

</div>
	    <h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo04">
			Cargando el código del ejemplo...
	    </div>
    </section>		

	
</main>
