<main>
    
    <h1>Test de CSS: listas</h1>
    
    <p>En este ejemplo se prueban los estilos para las <b>listas</b>, que se encuentran en el fichero <a href="/css/base.css">base.css</a>.</p>
    
    <section>
        <h2>Listas numeradas</h2>
        
        <p>Una lista numerada.</p>
        
        <ol>
        	<li>Un elemento.</li>
        	<li>Un elemento.</li>
        	<li>Un elemento.</li>
        	<li>Un elemento.</li>
        </ol>
    </section>
    
    
    <section>
        <h2>Listas no numeradas</h2>
        <p>Una lista no numerada.</p>
        
        <ul>
        	<li>Un elemento.</li>
        	<li>Un elemento.</li>
        	<li>Un elemento.</li>
        	<li>Un elemento.</li>
        </ul>
    </section>
    
    <section>
    	<h2>Listas de definiciones</h2>
        <p>Una listade definiciones.</p>
        
        <dl>
        	<dt>Una palabra</dt>
        	<dd>Una descripción de lo que significa.</dd>
        	<dt>Otra palabra</dt>
        	<dd>Otra descripción de lo que significa.</dd>
        	<dt>Más palabras</dt>
        	<dd>Otras descripciones.</dd>
        </dl>
    </section>
    
    <section>
        <h2>Listas dentro de listas.</h2>
        
        <ul>
        	<li>Un elemento.
            	<ul>
            		<li>Un sub-elemento.</li>
            		<li>Un sub-elemento.</li>
            		<li>Un sub-elemento.
            			<ul>
                    		<li>Un sub-sub-elemento.</li>
                    		<li>Un sub-sub-elemento.</li>
                    		<li>Un sub-sub-elemento.</li>
                    		<li>Un sub-sub-elemento.</li>
                    	</ul>
                	</li>
            		<li>Un sub-elemento.</li>
            	</ul>
        	</li>
        	<li>Un elemento.</li>
        	<li>Un elemento.</li>
        	<li>Un elemento.</li>
        </ul>
    </section>
   
</main> 
