<main>
    
    <h1>Listas</h1>
    
    <p>Ejemplos de listas <i>HTML</i> en <i>FastLight</i>. El ejemplo más importante 
    es el último (<a href="#grid-list">Listas GRID</a>), en el que se muestra cómo maquetar
    listas adaptables a distintos tamaños de pantalla.</p>
    
    <h2>Índice</h2>
    <ul>
    	<li><a href="#ordered-list">Listas numeradas</a></li>
    	<li><a href="#unordered-list">Listas no numeradas</a></li>
    	<li><a href="#definition-list">Listas de definiciones</a></li>
    	<li><a href="#inner-lists">Listas dentro de otras listas</a></li>
    	<li><a href="#grid-list"><b>Listas GRID</b></a></li>
    </ul>
    
    <section id="ordered-list">
        <h2>Listas numeradas</h2>
        
        <p>Una lista numerada.</p>

<h3>Ejemplo</h3>
<div id="ejemplo01">  
	<ol>
		<li>Un elemento.</li>
		<li>Un elemento.</li>
		<li>Un elemento.</li>
		<li>Un elemento.</li>
	</ol>
</div>
		<h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo01">
			Cargando el código del ejemplo...
	    </div> 

    </section>
    
    
    <section id="unordered-list">
        <h2>Listas no numeradas</h2>
        <p>Una lista no numerada.</p>
 
<h3>Ejemplo</h3>
<div id="ejemplo02">        
	<ul>
		<li>Un elemento.</li>
		<li>Un elemento.</li>
		<li>Un elemento.</li>
		<li>Un elemento.</li>
	</ul>
</div>

		<h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo02">
			Cargando el código del ejemplo...
	    </div>
    </section>
    
    
    <section id="definition-list">
    	<h2>Listas de definiciones</h2>
        <p>Una listade definiciones.</p>
 
<h3>Ejemplo</h3>
<div id="ejemplo03">       
	<dl>
		<dt>Una palabra</dt>
		<dd>Una descripción de lo que significa.</dd>
		<dt>Otra palabra</dt>
		<dd>Otra descripción de lo que significa.</dd>
		<dt>Más palabras</dt>
		<dd>Otras descripciones.</dd>
	</dl>
</div>

		<h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo03">
			Cargando el código del ejemplo...
	    </div>
    </section>
    
    
    
    <section id="inner-lists">
        <h2>Listas dentro de listas.</h2>
 
 <h3>Ejemplo</h3>
<div id="ejemplo04">         
	<ul>
		<li>Un elemento.
			<ul>
				<li>Un sub-elemento.</li>
				<li>Un sub-elemento.</li>
				<li>Un sub-elemento.
					<ul>
			      		<li>Un sub-sub-elemento.</li>
			      		<li>Un sub-sub-elemento.</li>
			      		<li>Un sub-sub-elemento.</li>
			      		<li>Un sub-sub-elemento.</li>
			      	</ul>
			  	</li>
				<li>Un sub-elemento.</li>
			</ul>
		</li>
		<li>Un elemento.</li>
		<li>Un elemento.</li>
		<li>Un elemento.</li>
	</ul>
 </div>       
        
        <h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo04">
			Cargando el código del ejemplo...
	    </div>
    </section>
    
    
    
    
        <section id="grid-list">
        <h2>Listas GRID</h2>
        
        <p>Este tipo de listas sustituyen a las tablas para diseños adaptables.</p>

<h3>Ejemplo</h3>
<div id="ejemplo05">  
	<div class="grid-list">
		<div class="grid-list-header">
		  <span>Nombre</span>
		  <span>Email</span>
		  <span>Rol</span>
		</div>
		
		<div class="grid-list-item">
		  <span data-label="Nombre">Robert Sallent</span>
		  <span data-label="Email">robert@fastlight.org</span>
		  <span data-label="Rol">Administrador</span>
		</div>
		
		<div class="grid-list-item">
		  <span data-label="Nombre">Marisa</span>
		  <span data-label="Email">marisa@fastlight.org</span>
		  <span data-label="Rol">Editora</span>
		</div>
		
		<div class="grid-list-item">
		  <span data-label="Nombre">Laia Sallent</span>
		  <span data-label="Email">laia@juegayestudia.com</span>
		  <span data-label="Rol">Usuario</span>
		</div>
	</div>
</div>
		<h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo05">
			Cargando el código del ejemplo...
	    </div> 

    </section>
    
    
   
</main> 
