<main>
    <h1>Sliders y presentaciones de diapositivas</h1>
    
    <p>A continuación se muestra el uso de la herramienta de creación de pases
    de diapositivas o <i>sliders</i> que se incluye en FastLight.</p>
    
    <p>Ha sido pensada para cubrir la mayoría de las situaciones habituales y permite
    un grado de personalización bastante interesante.</p>
    
       
    <h2>Índice</h2>
    <ul>   	
    	<li><a href="#one-slide">Una sola diapositiva</a></li>
    	<li><a href="#one-slide-modals">Una sola diapositiva, con modales</a></li>
    	<li><a href="#multiple-slider">Varias diapositivas visibles, con modales</a></li>
    	<li><a href="#only-manual">Solamente avance manual</a></li>
    	<li><a href="#only-auto">Solamente avance automático</a></li>
    	<li><a href="#variable">Número de diapositivas según la resolución de pantalla</a></li>
    	<li><a href="#final"><b>EJEMPLO FINAL</b>: slider completo con transiciones, modales, leyendas y descripciones</a></li>
    </ul>
    
    
    
    
    
<section id="one-slide">
        <h2>Una sola diapositiva</h2>
        
        <p>Para crear un pase de diapositivas, debemos incluir lo siguiente:</p>
        
        <ul>
        	<li>El fichero de CSS: <code>/css/components/sliders.css</code>.</li>
        	<li>El fichero de JS: <code>/js/components/Slider.js</code>.</li>
        </ul>
        
        <p>Una vez hecho esto, podremos crear nuestras presentaciones a partir del
        identificador del elemento padre para el slider y un
        objeto de opciones (que podemos crear en JSON). Tal y como se muestra en este
        primer ejemplo.</p>
        
        <p>Estas son las opciones del objeto de configuración:</p>
        <ul>
        	<li><code>numImagenes</code>: número de imágenes a mostrar simultáneamente (obligatorio).</li>
        	<li><code>botones</code>: <i>true/false</i> permite indicar si queremos botones o no para realizar el avance manual. Por defecto activado.</li>
        	<li><code>modales</code>: <i>true/false</i> permite indicar si queremos activar los modales en el slider, para que las fotos se abran a pantalla completa.</li>
        	<li><code>tiempo</code>: tiempo para realizar el avance automático. Se puede indicar 0 u omitir este parámetro para indicar que no se desea avance automático.</li>
        	<li><code>proporcion</code>: relación de aspecto para las imágenes, por defecto 4/3.</li>
        	<li><code>fotos</code>: array con las URL de las fotos a colocar en la presentación (obligatorio).</li>
        	<li><code>captions</code>: array con las leyendas para cada una de las imágenes.</li>
        	<li><code>descriptions</code>: array con las descripciones para cada una de las imágenes.</li>
        </ul>
        
        <p>Para realizar un pase de diapositivas mostrando solamente una, implemente
        hay que indicar <code>numImagenes : 1</code> en el objeto de configuración.</p>
        
        <div class="flex-container gap2">
    
    		<div class="flex1"> 
<h3>Ejemplo</h3>		
<div id="ejemplo01">   	
	<!-- En el HEAD -->
	<link rel="stylesheet" type="text/css" href="/css/components/sliders.css">   
	<script src="/js/components/Slider.js"></script>
	 
	<!--  En el BODY o en el HEAD -->
	<script>
		// Creación del objeto de configuración
		const config0 = {
			'numImagenes':1,
			'tiempo':3,
			'fotos':[
				'/images/demo/01.jpg',
				'/images/demo/02.jpg',
				'/images/demo/03.jpg',  
				'/images/demo/04.jpg', 
				'/images/demo/05.jpg' 
			]
		}
		
		// cuando cargue la ventana completamente...
		window.addEventListener('load', function(){
		
			// crea un objeto slider a partir de la configuración
			// y colócalo en el elemento con id 'complete-slider'
			const sliderObject = new Slider('one-slide-slider', config0);
			sliderObject.start();
		});
	</script>

	<!--  En el BODY -->
	<div id="one-slide-slider"></div>	
</div>
			</div>   
	
			<div class="flex1">
				<h3>Código del ejemplo</h3>
			    <div class="code-block code-display" data-example="ejemplo01">
					Cargando el código del ejemplo...
			    </div> 
	   		</div>    
	    </div>  
	    
	     <div class="warning p2 my2">
	    	<h2>NOTA</h2>
	    	<p>Se deben tener <b>al menos dos imágenes más</b> de las que se
	    	muestran de forma simultánea en pantalla.
	    	Por ejemplo, en el caso anterior que mostramos una, debemos
	    	tener un listado de un mínimo de tres.</p>
	    	
	    	<p>Las dos imágenes extra se colocan en los extremos para que funcionen
	    	bien las transiciones suaves hacia los lados. La primera imágen visible,
	    	es en realidad la segunda de la lista <code>fotos</code>.</p>
	    </div>   
    </section>    
    
    
    
    
    
    
    
    <section id="one-slide-modals">
        <h2>Una sola diapositiva, con modales</h2>
        
        <p>Si queremos usar también modales, hay que incluir también el fichero 
        ubicado en <code>/js/Modal.js</code>.</p>
        
        <p>Una vez cargado el fichero, activaremos los modales
        con la opción del objeto de configuración <code>'modales':true</code>.
        Puedes comprobar suu funcionamiento haciendo clic sobre las distintas imágenes.</p>
        
        <p>Observad también que en este ejemplo se ha modificado la relación de aspecto
        para mostrar diapositivas en orientación vertical.</p>
        
        <div class="flex-container gap2 wrap-reverse">
        	<div class="flex2">
				<h3>Código del ejemplo</h3>
			    <div class="code-block code-display" data-example="ejemplo02">
					Cargando el código del ejemplo...
			    </div> 
	   		</div>
    
    		<div class="flex1"> 
<h3>Ejemplo</h3>		
<div id="ejemplo02">   
	
	<!-- Cargar antes el script y el CSS mostrados en el ejemplo anterior -->
	<script src="/js/Modal.js"></script>

	<script>
		// Creación del objeto de configuración
		const config1 = {
			'numImagenes':1,
			'tiempo':3.2,
			'modales': true,
			'proporcion':3/4,
			'fotos':[
				'/images/demo/v01.jpg',
				'/images/demo/v02.jpg',  
				'/images/demo/v03.jpg', 
				'/images/demo/v04.jpg'
			]
		}
		
		// cuando cargue la ventana completamente...
		window.addEventListener('load', function(){
		
			// crea un objeto slider a partir de la configuración
			// y colócalo en el elemento con id 'complete-slider'
			const sliderObject = new Slider('one-slide-modals-slider', config1);
			sliderObject.start();
		});
	</script>

	<div id="one-slide-modals-slider"></div>	
</div>
			</div>   
	    </div>     
    </section>            
    
    
    
    
    
    
    <section id="multiple-slider">
        <h2>Slider con múltiples diapositivas visibles y modales</h2>
        
       <p>En este ejemplo se ha indicado que el número de imágenes simultáneas
       a mostrar es de cuatro usando <code>'numImagenes':4</code>. Además están 
       activados también los modales.</p>
        
<h3>Ejemplo</h3>		
<div id="ejemplo03">   
	
	
	<script>
		// Creación del objeto de configuración
		const config2 = {
			'numImagenes':4,
			'modales':true,
			'tiempo':3.4,
			'fotos':[
				'/images/demo/11.jpg', 
				'/images/demo/12.jpg',  
				'/images/demo/13.jpg', 
				'/images/demo/14.jpg', 
				'/images/demo/15.jpg', 
				'/images/demo/16.jpg'
			]
		}
		
		// cuando cargue la ventana completamente...
		window.addEventListener('load', function(){
		
			// crea un objeto slider a partir de la configuración
			// y colócalo en el elemento con id 'complete-slider'
			const sliderObject = new Slider('full-slider', config2);
			sliderObject.start();
		});
	</script>
	
	<!--  En el BODY -->
	<!-- Contenedor para el slider -->
	<div id="full-slider"></div>	
</div>

			<h3>Código del ejemplo</h3>
		    <div class="code-block code-display" data-example="ejemplo03">
				Cargando el código del ejemplo...
		    </div>      
	    
	    </section>    
    




    
<section id="only-manual">
        <h2>Solamente avance manual</h2>
        
        <p>Para indicar solamente avance manual, el objeto de configuración
        debe tener <code>'tiempo':0</code>, aunque también será solamente
        manual si indicamos un tiempo negativo u omitimos directamente el
        parámetro <code>tiempo</code>.</p>
        
        <div class="flex-container gap2 flex-reverse">
        
        	<div class="flex1">
				<h3>Código del ejemplo</h3>
			    <div class="code-block code-display" data-example="ejemplo04">
					Cargando el código del ejemplo...
			    </div> 
	   		</div>
    
    		<div class="flex1"> 
<h3>Ejemplo</h3>		
<div id="ejemplo04">   
	
	<!-- Cargar antes el script y el CSS mostrados en el ejemplo anterior -->

	<script>
		// Creación del objeto de configuración
		const config3 = {
			'numImagenes':1,
			'fotos':[
				'/images/demo/n01.jpg',
				'/images/demo/n02.jpg',
				'/images/demo/n03.jpg'  
			]
		}
		
		// cuando cargue la ventana completamente...
		window.addEventListener('load', function(){
		
			// crea un objeto slider a partir de la configuración
			// y colócalo en el elemento con id 'complete-slider'
			const sliderObject = new Slider('only-manual-slider', config3);
			sliderObject.start();
		});
	</script>
	
	<!--  En el BODY -->
	<!-- Contenedor para el slider -->
	<div id="only-manual-slider"></div>	
</div>
			</div>   
	
	    </div>  
		       
    </section>            
 
 
 
 
 
 
     
<section id="only-auto">
        <h2>Solamente avance automático</h2>
        
        <p>Si no queremos que el usuario haga avanzar o retroceder manualmente las diapositivas,
        podemos indicar <code>'botones:false'</code> en el objeto de configuración.</p>

        <div class="flex-container gap2">
    
    		<div class="flex1"> 
<h3>Ejemplo</h3>		
<div id="ejemplo05">   
	
	<!-- Cargar antes el script y el CSS mostrados en el ejemplo anterior -->

	<script>
		// Creación del objeto de configuración
		const config4 = {
			'numImagenes':2,
			'tiempo' : 3.5,
			'botones' : false,
			'fotos':[
				'/images/demo/13.jpg',  
				'/images/demo/14.jpg', 
				'/images/demo/15.jpg', 
				'/images/demo/16.jpg'
			]
		}
		
		// cuando cargue la ventana completamente...
		window.addEventListener('load', function(){
		
			// crea un objeto slider a partir de la configuración
			// y colócalo en el elemento con id 'complete-slider'
			const sliderObject = new Slider('only-auto-slider', config4);
			sliderObject.start();
		});
	</script>
	
	<!--  En el BODY -->
	<!-- Contenedor para el slider -->
	<div id="only-auto-slider"></div>	
</div>
			</div>   
	
			<div class="flex1">
				<h3>Código del ejemplo</h3>
			    <div class="code-block code-display" data-example="ejemplo05">
					Cargando el código del ejemplo...
			    </div> 
	   		</div>
	    
	    </div>     
    </section>               
 
 
 
 
 
       <section id="variable">
        <h2>Número de diapositivas variable según pantalla</h2>

		<p>Para hacer variable el número de imágenes que se muestran en función
		del tamaño disponible en pantalla, podemos jugar un poco con <i>JavaScript</i>.</p>
		
		<p>Mediante la propiedad <code>innerWidth</code> del objeto <code>Window</code>, podemos detectar
		el espacio disponible y calcular el número de diapositivas a mostrar,
		tal y como se muestra en el siguiente ejemplo donde:</p>
		
		<ul>
			<li>Si hay más de 800 píxeles de ancho se muestran cuatro imágenes.</li>
			<li>Entre 800 y 400 se muestran 2.</li>
			<li>Menos de 400 se muestra solamente 1.</li>
		</ul>
		
		<p>Para hacer pruebas, podéis redimensionar la ventana del navegador y
		 pulsar <kbd>F5</kbd> para recalcular el número de imágenes a mostrar.</p>
        
<h3>Ejemplo</h3>		
<div id="ejemplo06">   
	<script>
		// cálculo del número de imágenes en función del espacio disponible
		let aColocar = innerWidth > 400 ? innerWidth > 800? 4 : 2 : 1;
		
		// Creación del objeto de configuración
		const config5 = {
			'numImagenes': aColocar,
			'tiempo':3.5,
			'fotos':[
				'/images/demo/01.jpg',
				'/images/demo/02.jpg',
				'/images/demo/03.jpg',
				'/images/demo/04.jpg',
				'/images/demo/05.jpg',
				'/images/demo/06.jpg'
			],
			'inicial': 0
		}
		
		// cuando cargue la ventana completamente...
		window.addEventListener('load', function(){
		
			// crea un objeto slider a partir de la configuración
			// y colócalo en el elemento con id 'complete-slider'
			const sliderObject = new Slider('variable-slider', config5);
			sliderObject.start();
		});
	</script>
	
	<!--  En el BODY -->
	<!-- Contenedor para el slider -->
	<div id="variable-slider"></div>	
</div>

		<h3>Código del ejemplo</h3>
	    <div class="code-block code-display" data-example="ejemplo06">
			Cargando el código del ejemplo...
	    </div>      
    </section>    
    
    
    
    
    
    <section id="final">
        <h2>EJEMPLO FINAL</h2>
        
       <p>Slider completo, con número de imágenes variable, múltiples imágenes, avance
       manual y automático e imágenes con leyenda y descripción.</p>
       
       <p>Para indicar las leyendas se ha usado la propiedad <code>captions</code> del objeto de 
       configuración, mientras que para indicar las descripciones se usa la propiedad <code>descriptions</code>.</p>
        
<h3>Ejemplo</h3>		
<div id="ejemplo07">   
	
	
	<script>
		// cálculo del número de imágenes en función del espacio disponible
		let aColocar2 = innerWidth > 400 ? innerWidth > 800? 4 : 2 : 1;
		
		// Creación del objeto de configuración
		const config6 = {
			'numImagenes': aColocar2,
			'modales':true,
			'tiempo':3.4,
			'fotos':[
				'/images/demo/01.jpg', 
				'/images/demo/02.jpg',  
				'/images/demo/03.jpg', 
				'/images/demo/04.jpg', 
				'/images/demo/05.jpg', 
				'/images/demo/06.jpg',
				'/images/demo/07.jpg',
				'/images/demo/08.jpg'
			],
			'captions':[
				'Castell de sorra',
				'Desembocadura del Foix',
				'Petxines',
				'Foix',
				'Puesta de Sol',
				'Puesta de sol en la playa',
				'Club Marítim',
				'Nido de ametralladora'
			],
			'descriptions':[
				'Castillo de arena, creado por Laia, en Platja Llarga de Cubelles, Barcelona',
				'Desembocadura del rio Foix, en Cubelles',
				'Conchas varias sobre la arena de la playa de Cubelles',
				'Desembocadura del rio Foix, vista desde la pasarela que se llevó la última dana',
				'Puesta de Sol sobre el rio Foix',
				'Puesta de sol sobre la Platja Llarga de Cubelles',
				'Club marítimo de Cubelles, al límite con Vilanova i la Geltrú',
				'Nido de ametralladora ubicado sobre la Platja de la Mota, en Cubelles'
			]
		}
		
		// cuando cargue la ventana completamente...
		window.addEventListener('load', function(){
		
			// crea un objeto slider a partir de la configuración
			// y colócalo en el elemento con id 'complete-slider'
			const sliderObject = new Slider('caption-slider', config6);
			sliderObject.start();
		});
	</script>
	
	<!--  En el BODY -->
	<!-- Contenedor para el slider -->
	<div id="caption-slider"></div>	
</div>

			<h3>Código del ejemplo</h3>
		    <div class="code-block code-display" data-example="ejemplo07">
				Cargando el código del ejemplo...
		    </div>      
	    
	    </section>    
    
    
</main>   
    
    
